@tailwind base;
@tailwind components;
@tailwind utilities;
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pb-c-white: #ffffff;
  --pb-c-blue: #3a5cd4;
  --pb-c-light-blue: #5c78db;

  --pb-c-black-soft: #5a5a5a;

  --pb-c-grey: grey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
